/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './example';

* {
  box-sizing: border-box;
}

img {
  width: 300px;
  height: 180px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.photo-card {
  margin-bottom: 10px;
  padding: 50px;
}

.info {
  display: flex;

  &-item {
  }
}
